.container2 {
  margin: 0 9%;
  margin-bottom: 123px;
  margin-top: 95px;
  text-align: center;
}

.bg-color {
  background-color: #fff;
  font-size: 0.75em;
  opacity: 0.7;
  padding: 15%;
}

.color-text {
  font-size: 1em;
  background-color: #80E5FF
}