ul {
  display: flex;
  list-style-type: none;
  margin-top: 54px;
  font-size: 1em;
  align-items: center;
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
}

.underline {
  border-bottom: 0.5vw solid #00CCFF;
}

ul img {
  width: 150%;
  height: auto;
}
@media screen  and (max-width:768px)
{
  ul img {
    width: 125%;
  }
}
@media screen  and (max-width:320px)
{
  ul  img  {
    width: 70%;
  }
}